/* cadastrar-paciente.component.css */
.container {
    max-width: 500px;
    margin: auto;
    padding: 20px;
    background: #f9f9f9;
    border-radius: 8px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
  }
  
  input[type="text"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  select {
    padding: 10px 20px;
    background-color: #FFFF; /* Cor azul bebê fraquinha */
    color: #555; /* Mudando a cor do texto para um cinza escuro para contraste */
    border: 1px solid #B2EBF2; /* Adicionando uma borda sutil que complementa o fundo azul */
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px; /* Ajustando o tamanho da fonte para melhor legibilidade */
    outline: none; /* Removendo o contorno ao focar para limpeza visual */
    transition: background-color 0.3s, border-color 0.3s; /* Suavizando a transição de cores */
}

/* Melhorando a visualização ao focar no elemento */
select:focus {
    background-color: #f9f9f9; /* Um azul um pouco mais forte ao focar */
    border-color: #81D4FA; /* Cor da borda ao focar para destacar */
}

  
  button[disabled] {
    background-color: #ccc;
  }
      