<!-- cadastrar-paciente.component.html -->
<div class="container">
    <form [formGroup]="pacienteForm" (ngSubmit)="onSubmit()">
      <div>
        <strong><label for="nome">Nome do Paciente:</label></strong>
        <input type="text" id="nome" formControlName="nome" placeholder="Nome">
      </div>
      <div>
      <strong><label for="frequencia">Frequência das Visitas:</label></strong>
        <select id="frequencia" formControlName="frequencia">
            <option value="">Selecione a frequência</option>
            <option value="1">1 vez por semana</option>
            <option value="2">2 vezes por semana</option>
            <option value="3">3 vezes por semana</option>
            <option value="4">4 vezes por semana</option>
            <option value="5">5 vezes por semana</option>
            <option value="6">6 vezes por semana</option>
            <option value="7">7 vezes por semana</option>
        </select>
     </div>
     <div>
      <strong><label for="pagamento">Pagamento:</label></strong>
        <input type="text" id="pagamento" formControlName="pagamento" placeholder="Pagamento">
      </div>
      <div>
      <strong><label for="diasVisita">Dias de Visita:</label></strong>
        <input type="text" id="diasVisita" formControlName="diasVisita" placeholder="Dias de visita">
      </div>
      <button type="submit" [disabled]="!pacienteForm.valid">Cadastrar Paciente</button>
    </form>
  </div>
  <!-- Popup Modal -->
<div class="modal" *ngIf="showModal">
  <div class="modal-content">
    <span class="close" (click)="toggleModal()">&times;</span>
    <p>Paciente cadastrado com sucesso!</p>
  </div>
</div>

  