<!-- pacientes.component.html -->
<div>
    <h2>Área do Paciente</h2>
    <p>Selecione seu nome para ver seus exercícios:</p>
    <select (change)="onSelect($event.target)">
        <option value="">Selecione seu nome</option>
        <option *ngFor="let patient of pacienteFono" [value]="patient.nome">{{ patient.nome }}</option>
    </select>

    <div *ngIf="selectedPatient">
        <h3>Exercícios para {{ selectedPatient.nome }}</h3>
        <ul>
            <li *ngFor="let item of listaExercicios">
                <div *ngFor="let exercise of item">
                    <strong >{{ exercise.exercicio }}</strong> - {{ exercise.observacao }}
                    <button (click)="realizarExercicio(exercise)">Realizar</button>
                </div>
            </li>
        </ul>
    </div>
</div>