<!-- controle.component.html -->
<div>
    <h2>Informações de Controle dos Clientes</h2>
    <select (change)="onSelect($event.target)">
      <option value="">Selecione um paciente</option>
      <option *ngFor="let cliente of clientes" [value]="cliente.nome">{{ cliente.nome }}</option>
    </select>
  
    <div *ngIf="selectedCliente">
      <h3>Controle para {{ selectedCliente.nome }}</h3>
      <p><strong>Frequência de Visitas:</strong> {{ selectedCliente.frequencia }}</p>
      <p><strong>Pagamento:</strong> {{ selectedCliente.pagamento }}</p>
      <p><strong>Dias de Visita ao Fonoaudiólogo:</strong>
        <ul>
          <li *ngFor="let dia of selectedCliente.diasVisita">{{ dia }}</li>
        </ul>
    </div>
  </div>